<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <div class="content" data-role="page" id="db-page">
      <div class="card">
 	      <ul class="list-group">
          <li><p>Date       : Entry - Exit , Diff</p></li>
          <% results.forEach(function(r) { %>
          <li class="list-group-item">
      	    <%= r.day %> : <%= r.entry %> - <%= r.exit %> , <%= r.diff %>
          </li><% }); %>
        </ul>
      </div>  
    </div>

  </body>
</html>
