<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Previously saved data</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.signum %> - <%= r.day %> - <%= r.entry %> - <%= r.exit %> - </li>
    <% }); %>
</ul>

</div>

</body>
</html>
