<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>

  <header class="bar bar-nav">
  	<a href="https://sheltered-citadel-7804.herokuapp.com/" class="btn btn-block btn-primary">Back</a>
    
  </header>

    <div class="content" data-role="page" id="db-page">
    <h1 class="title">Saved data</h1>
      <div class="card">
 	  <ul class="list-group">
          <% results.forEach(function(r) { %>
          <li class="list-group-item">
      	    <%= r.signum %> <%= r.day %> - <%= r.entry %> - <%= r.exit %>
          </li><% }); %>
        </ul>
      </div>  
    </div>

  </body>
</html>
