<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>

  <header class="bar bar-nav">
  	<button class="btn btn-link btn-nav pull-left" href="https://sheltered-citadel-7804.herokuapp.com/" id="backHome">
    Back
    </button>
    <h1 class="title">Saved data</h1>
  </header>

    <div class="content" data-role="page" id="db-page">
      <div class="card">
 	  <ul class="list-group">
          <% results.forEach(function(r) { %>
          <li class="list-group-item">
      	    <%= r.signum %> - <%= r.day %> - <%= r.entry %> - <%= r.exit %>
          </li><% }); %>
        </ul>
      </div>  
    </div>

  </body>
</html>
