<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <header class="bar bar-nav bar-title">
      <h1 class="title panel">JORVAS TIME REPORTING</h1>
    </header>
    <div class="content" data-role="page" id="db-page">
      <div class="card">
        <ul class="table-view">
          <li class="table-view-cell"><h2>HELP ME!</h2></li>
          <li class="table-view-cell"><p>Hi, I developed this in my spare time, so please bear the tiny bugs :)</p></li>
          <li class="table-view-cell"><p>The backend in on Heroku and the data is not protected in any way, so be warned</p></li>
          <li class="table-view-cell"><p>The location based start/stop timer is under development</p></li>
          <li class="table-view-cell"><p>The code is here <strong>https://github.com/arjunkamath/jorvas_tr</strong> Feel free to have a look</p></li>
          <li class="table-view-cell"><p>To give feedback, send a message to <strong>arjun.kamath@ericsson.com</strong></p></li>
      </ul>
      </div>
    </div>
  </body>
</html>
