<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <header class="bar bar-nav bar-title">
      <h1 class="title panel">JORVAS TIME REPORTING</h1>
    </header>
    <div class="content" data-role="page" id="db-page">
      <div class="card">
        <ul class="table-view">
          <li class="table-view-cell"><h2>HELP</h2></li>
          <li class="table-view-cell"><p>Help is on its way</p></li>
      </ul>
      </div>
    </div>
  </body>
</html>
