<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">Time Reporting</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content" data-role="page" id="main-page">
      <p class="content-padded" id="locationText"></p>
      <div class="card">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Today</th>
              <th>Entry (GMT)</th>
              <th>Exit (GMT)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="todayDay"></td>
              <td id="entryTime"></td>
              <td id="exitTime"></td>
            </tr>
          </tbody> 
        </table>
      </div>
      <form class="content-padded">
         <input id="signum" type="text" placeholder="eabcpqr">
         <button id="saveData" class="btn btn-positive btn-block">Save Today's Data</button>
       </form>  
    </div>
</body>
    <script src="/js/geolocation.js"></script>
</html>
