<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">Time Reporting</h1>
      <button class="btn pull-right" id="gotoDB" href="https://sheltered-citadel-7804.herokuapp.com/db">Previous</button>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content" data-role="page" id="main-page">
      <p class="content-padded" id="locationText"></p>
      <div class="card">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Today</th>
              <th>Entry (GMT)</th>
              <th>Exit (GMT)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="todayDay"></td>
              <td id="entryTime"></td>
              <td id="exitTime"></td>
            </tr>
          </tbody> 
        </table>
      </div>
      <div class="content-padded">
        <input type="text" id="signumVal" name="name" value="" />
        <input type="button" id="submitData" class="btn btn-primary btn-block" value="Submit"/>
      </div>
      <div id="result"></div>
    </div>
</body>
    <script src="/js/geolocation.js"></script>
    <script src="/js/submitForm.js"></script>
</html>
