<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">Time Reporting</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content" data-role="page" id="main-page">
      <p class="content-padded" id="locationText"></p>
      <div class="card">
        <form class="content-padded" id="myform" action="saveData" method="post" enctype="application/x-www-form-urlencoded">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Today</th>
                <th>Entry (GMT)</th>
                <th>Exit (GMT)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td name="todayDay" id="todayDay"></td>
                <td name="entryTime" id="entryTime"></td>
                <td name="exitTime" id="exitTime"></td>
              </tr>
            </tbody> 
          </table>
         <input id="signum" name="signum" type="text" placeholder="ejorvas">
         <input type="submit" id="mysubmit" class="btn btn-positive btn-block" value="Submit">
        </form>
      </div>  
    </div>
</body>
    <script src="/js/geolocation.js"></script>
</html>
